<div class="card p-3 my-2 mx-2">
    <div class="d-flex justify-content-between">
        <div class="d-flex flex-row align-items-center">
            <div>
                <i class="nav-icon fas fa-2x fa-building"></i>
            </div>
            <div class="ms-2">
                <h5 class="mb-0 ml-2 badge badge-warning" style="font-size: 1em;">Departement Name</h5>
            </div>
        </div>
        <div class="badge"> <span>Nb Emp</span> </div>
    </div>
    <div class="mt-5">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic porro voluptatibus quibusdam nesciunt inventore veritatis maxime quos labore, impedit sequi quis deleniti sunt? Quae aliquid facilis laudantium, pariatur rerum ea!</p>
        <div class="mt-5">
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>
