<div class="mt-5">
    <h1 class="text-center mt-5">LIST OF JOBS</h1>
</div>
<div *ngIf="dataState === 'ERROR'" class="mx-auto mt-5">
    <div class="error p-3 rounded">Erreur rencontrée !</div>
</div>
<div *ngIf="dataState === 'LOADING'"  class="mx-auto mt-5">
    <div class="spinner"></div>
</div>
<div class="row" *ngIf="dataState === 'COMPLETE'">
    <div class="col-md-4" *ngFor="let job of jobs$ | async">
        <div class="card p-3 my-2 mx-2">
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                    <div>
                        <i class="nav-icon fas fa-2x fa-briefcase"></i>
                    </div>
                    <div class="ms-2">
                        <h5 class="mb-0 ml-2 badge badge-warning" style="font-size: 1em;">{{job.title}}</h5>
                    </div>
                </div>
                <div class="badge"> <span>Nb Emp</span> </div>
            </div>
            <div class="mt-3 mb-2">
                <p>{{job.description}}</p>
            </div>
            <div>
                <h5 class="mb-0" style="font-size: 1em;"><span class="badge badge-info p-2">Skills =></span>{{job.skills}}</h5>
            </div>
            <div class="mt-3">
                <h5 class="mb-0" style="font-size: 1em;">
                    Level of responsibility : <span class="badge" [ngClass]='{"badge-secondary" : job.levelOfResponsibility === "LOW",
                                                                "badge-warning" : job.levelOfResponsibility === "MEDIUM",
                                                                "badge-danger" : job.levelOfResponsibility === "HIGH"}'>
                        {{job.levelOfResponsibility}}
                    </span>
                </h5>
            </div>
            <div style="position: absolute; bottom: 5%; width: 90%;">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        
    </div>
</div>