<h1 class="text-center">LIST OF EMPLOYEES</h1>

<section class="content">
  <div class="container-fluid">
    <h1 class="badge badge-warning text-lg ml-5">Choose department</h1>
    <div class="row">
        <div class="col-md-3">
            <app-department-slide></app-department-slide>
        </div>
    </div>
     <div class="row">
        <div class="col-md-8">
            <app-employee-list></app-employee-list>
        </div>
        <div class="col-md-3">
            <app-employee-profil></app-employee-profil>
        </div>
     </div>
  </div>
</section> 
