<div class="mt-5">
    <h1 class="text-center mt-5">LIST OF JOBS</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <app-job-list></app-job-list>
    </div>
    <div class="col-md-4">
        <app-job-list></app-job-list>
    </div>
    <div class="col-md-4">
        <app-job-list></app-job-list>
    </div>
    <div class="col-md-4">
        <app-job-list></app-job-list>
    </div>
    <div class="col-md-4">
        <app-job-list></app-job-list>
    </div>
    <div class="col-md-4">
        <app-job-list></app-job-list>
    </div>
    <div class="col-md-4">
        <app-job-list></app-job-list>
    </div>
    <div class="col-md-4">
        <app-job-list></app-job-list>
    </div>
    <div class="col-md-4">
        <app-job-list></app-job-list>
    </div>
</div>