<div class="mt-5">
    <h1 class="text-center mt-5">LIST OF DEPARTMENTS</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <app-departmentlist></app-departmentlist>
    </div>
    <div class="col-md-4">
        <app-departmentlist></app-departmentlist>
    </div>
    <div class="col-md-4">
        <app-departmentlist></app-departmentlist>
    </div>
    <div class="col-md-4">
        <app-departmentlist></app-departmentlist>
    </div>
    <div class="col-md-4">
        <app-departmentlist></app-departmentlist>
    </div>
    <div class="col-md-4">
        <app-departmentlist></app-departmentlist>
    </div>
</div>