<div>
    <h1 class="text-center">LIST OF ALL CONTRACTS</h1>
</div>
<div class="row" >
    <div *ngIf="dataState === 'ERROR'" class="mx-auto mt-5">
        <div class="error p-3 rounded">Erreur rencontrée !</div>
    </div>
    <div *ngIf="dataState === 'LOADING'"  class="mx-auto mt-5">
        <div class="spinner"></div>
    </div>
    <div *ngIf="dataState === 'COMPLETE'" class="row">
        <div class="col-sm-4 col-md-4 " *ngFor="let contract of contracts$ | async | paginate: { itemsPerPage:12, currentPage:currentPage}">

            <div class="position-relative  rounded p-3 m-3" style="height: 210px; color: black; background-color: azure;">
                <div class="ribbon-wrapper ribbon-xl">
                <div class="ribbon text-lg" [ngClass]="{'bg-danger':contract.type === 'ALTERNATION',
                                                    'bg-info':contract.type === 'CDD',
                                                    'bg-success':contract.type === 'CDI'}">
                    {{contract.type}}
                </div>
                </div>
                <p>Employee: {{contract.employee.firstName}} {{contract.employee.name}}</p>
                <p>humanResourceMnager: {{onFindHumanResourceManagerName(contract.humanResourceManager.registrationNumber)}} </p>
                <p class="margin-auto badge badge-warning">{{contract.status}}</p>
                <p style="text-decoration: underline; font-size: 0.8em;" class="badge badge-secondary">Ref N°= {{ contract.employee.registrationNumber | uppercase}}</p> 
                <p class= "text-center py-2">
                    <small>
                        {{contract.start}} - 
                        <span *ngIf="contract.type !=='CDI'">
                            {{contract.end}}
                        </span> 
                        <span *ngIf="contract.type ==='CDI'">Indeterminé</span> 
                    </small>
                </p>
            </div>        
        </div>
       <div class="mx-auto mt-2">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end" >
                <pagination-controls 
                [responsive]="true"
                [autoHide]="true"
                [directionLinks]="true"
                (pageChange)="currentPage = $event; pageChanged($event)">
            </pagination-controls>
                </ul>
            </nav>
       </div>
    </div>
</div>
