<div class="wrapper">
  <nav class="main-header navbar navbar-expand float-right" style="margin-left:0px !important; background-color:#37414a; ">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo_transparent.png" width="30" height="30" alt="logo">
    </a> 
    <ul class="navbar-nav ml-auto">
      
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class ="nav-item">
         <a class="nav" data-widget="control-sidebar" data-slide="true" href="#" role="button" style="text-decoration: none; color: white;">
           <i class="fas fa-2x fa-th-large"></i>
         </a>
       </li>
     </ul>
  </nav>
  <!-- _____________________________________________navbar____________________________________________ -->


  <div class="content-wrapper elevation-4 shadow" style="margin-left:0px !important" >
    <!-- _____________________________________________contentHEADER____________________________________________ -->
     <div class="content-header">
        <div class="container-fluid">
           <div class="row mb-2">
               <div class="col-md-4 border rounded pl-3">
                  <h1 class="font-weight-bold">HR ANALYTICS DASHBOARD</h1>
               </div>
               <div class="col-md-6 border py-1 rounded ml-2"style="display: flex;flex-wrap: nowrap; justify-content:space-around;">
                  <div class="div col-md-4 text-center border py-0" style="background-color: rgb(236, 175, 20);color:black;">
                     <span style="vertical-align: middle;">departement de finance</span>
                  </div>
                  <div class="div col-md-4 text-center py-0  mx-1 border" style="background-color: rgb(236, 175, 20);color:black;">
                     <span style="vertical-align: middle;">Maintenance</span>
                  </div>
                  <div class="div col-md-4 text-center py-0 border" style="background-color: rgb(236, 175, 20); color:black;">
                     <span style="vertical-align: middle;">departement de recherche</span>
                  </div>
               </div>
           </div>
           <div class="row" style="display: flex;flex-wrap: nowrap; justify-content: space-between;width: 85%;">
         
            <div class="col-md-2 border rounded py-1">
               <p class="text-center my-0">Overall Employee</p>
               <p class="text-center my-0" style="font-size: 3em; font-weight: bold;">123</p>
            </div>
            <div class="col-md-2 border rounded py-1">
               <p class="text-center my-0">Average Age</p>
               <p class="text-center my-0" style="font-size: 3em; font-weight: bold;">30</p>
            </div><div class="col-md-2 border rounded py-1">
               <p class="text-center my-0">Average Salary</p>
               <p class="text-center my-0" style="font-size: 3em; font-weight: bold;">8.75K</p>
            </div><div class="col-md-2 border rounded py-1">
               <p class="text-center my-0">Ongoing Project</p>
               <p class="text-center my-0" style="font-size: 3em; font-weight: bold;">3</p>
            </div><div class="col-md-2 border rounded py-1">
               <p class="text-center my-0">titre1</p>
               <p class="text-center my-0" style="font-size: 3em; font-weight: bold;">123</p>
            </div>
   
           </div>
           <div class="row">
            <div class="ml-auto border rounded px-2 p-1" style="margin-top: -175px; ">
               <h6 class="font-weight-bold text-center">Attribution By Gender</h6>
              <div style="display: flex;">
                  <div class="border text-center" style="width: 50%; padding-bottom: 50%; background-color: rgba(247, 192, 52, 0.621);">
                     <span style="color: black;">Male</span>
                  </div>
                  <div class="ml-auto border text-center" style="width: 50%;background-color: rgba(250, 146, 0, 0.608);">
                     <span style="color: black;" >Female</span>
                  </div>
               </div>
               <div style="display: flex;">
                  <div class="border text-center" style="width: 50%; background-color: rgb(247, 192, 52);">
                     <span style="color: black;">100</span>
                  </div>
                  <div class="ml-auto border text-center" style="width: 50%;background-color: rgb(250, 146, 0);">
                     <span style="color: black;" >23</span>
               </div>
               </div>
            </div>
           </div>
        </div>
     </div>

<!-- _____________________________________________contentBODY____________________________________________ -->
   <section class="content">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-8">
               <div class="card">
                  <div class="card-header">
                     <h3 class="card-title">List of Employee</h3>
                  </div>
                  <div class="card-body p-0">
                     <table class="table table-sm">
                        <thead>
                           <tr>
                              <th style="width: 10px">#</th>
                              <th>Task</th>
                              <th>Progress</th>
                              <th style="width: 40px">Label</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>1.</td>
                              <td>Update software</td>
                              <td>
                                 <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                 </div>
                              </td>
                              <td><span class="badge bg-danger">55%</span></td>
                           </tr>
                           <tr>
                              <td>2.</td>
                              <td>Clean database</td>
                              <td>
                                 <div class="progress progress-xs">
                                    <div class="progress-bar bg-warning" style="width: 70%"></div>
                                 </div>
                              </td>
                              <td><span class="badge bg-warning">70%</span></td>
                           </tr>
                           <tr>
                              <td>3.</td>
                              <td>Cron job running</td>
                              <td>
                                 <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar bg-primary" style="width: 30%"></div>
                                 </div>
                              </td>
                              <td><span class="badge bg-primary">30%</span></td>
                           </tr>
                           <tr>
                              <td>4.</td>
                              <td>Fix and squish bugs</td>
                              <td>
                                 <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar bg-success" style="width: 90%"></div>
                                 </div>
                              </td>
                              <td><span class="badge bg-success">90%</span></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section> 
  </div>



  <aside class="control-sidebar control-sidebar-dark " style="display:block;">
    <div class="p-3 control-sidebar-content" style="">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
         <div class="w-50 m-auto">
            <div class="image m-auto">
               <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
         </div>
         <div class="text-center text-light mt-2 badge badge-warning">
            <p class="d-block my-0 py-0" style="font-size: large;">Alexander Pierce</p>
         </div>

           <li class="nav-item menu-open mt-3">
              <a href="#" class="nav-link">
                 <i class="nav-icon fas fa-tachometer-alt"></i>
                 <p>
                    Dashboard
                 </p>
              </a>
           </li>
           <li class="nav-item">
              <a href="#" class="nav-link">
                 <i class="nav-icon fas fa-table"></i>
                 <p>
                    Tables
                    <i class="fas fa-angle-left right"></i>
                 </p>
              </a>
              <ul class="nav nav-treeview">
                 <li class="nav-item">
                    <a href="pages/tables/simple.html" class="nav-link">
                       <i class="far fa-circle nav-icon"></i>
                       <p>Simple Tables</p>
                    </a>
                 </li>
                 <li class="nav-item">
                    <a href="pages/tables/data.html" class="nav-link">
                       <i class="far fa-circle nav-icon"></i>
                       <p>DataTables</p>
                    </a>
                 </li>
                 <li class="nav-item">
                    <a href="pages/tables/jsgrid.html" class="nav-link">
                       <i class="far fa-circle nav-icon"></i>
                       <p>jsGrid</p>
                    </a>
                 </li>
              </ul>
           </li>
        </ul>
     </nav>
   </div>
   
  </aside>
       <!-- _____________________________________________SIDEBAR CONTROL FROM NAVABAR____________________________________________ -->

</div>
<router-outlet></router-outlet>
