<div class="wrapper">
  <div class="preloader flex-column justify-content-center align-items-center">
     <img class="animation__wobble" src="assets/img/logo.png" alt="logo Human Resource" height="120px;" width="250px;">
  </div>
  <nav class="main-header navbar navbar-expand float-right" style="margin-left:0px !important; background-color:#37414a; ">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo_transparent.png" width="30" height="30" alt="logo">
    </a> 
    <ul class="navbar-nav  ml-auto">
       <li class="nav-item d-none d-sm-inline-block">
          <a href="#" class="nav-link">Home</a>
         </li>
         <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Contact</a>
         </li>
         <li class ="nav-item">
           <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
             <i class="fas fa-th-large"></i>
           </a>
         </li>
     </ul>
  </nav>
  <!-- _____________________________________________navbar____________________________________________ -->


  <div class="content-wrapper elevation-4 shadow" style="margin-left:0px !important" >
    <!-- _____________________________________________contentHEADER____________________________________________ -->
     <div class="content-header">
        <div class="container-fluid">
           <div class="row mb-2">
            <div class="col-sm-3">
               <h1 class="m-0 text-center">Department</h1>
            </div>
              <div class="col-sm-6 text-center">
                 <h1 class="m-0">Employee Management</h1>
              </div>
              <div class="col-sm-3">
                  <h1 class="text-center">Profile</h1>
              </div>
           </div>
        </div>
     </div>

     <!-- _____________________________________________contentBODY____________________________________________ -->
   <section class="content">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-3">
               <div class="list-group ">
                  <a href="#" class="list-group-item list-group-item-action active">
                    Cras justo odio
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                  <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                  <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                </div>

                <div class="info-box my-3 bg-warning">
                  <span class="info-box-icon"><i class="fas fa-tag"></i></span>
                  <div class="info-box-content">
                     <span class="info-box-text">Inventory</span>
                     <span class="info-box-number">5,200</span>
                  </div>
               </div>
               <div class="info-box my-3 bg-success">
                  <span class="info-box-icon"><i class="far fa-heart"></i></span>
                  <div class="info-box-content">
                     <span class="info-box-text">Mentions</span>
                     <span class="info-box-number">92,050</span>
                  </div>
               </div>
               <div class="info-box my-3 bg-danger">
                  <span class="info-box-icon"><i class="fas fa-cloud-download-alt"></i></span>
                  <div class="info-box-content">
                     <span class="info-box-text">Downloads</span>
                     <span class="info-box-number">114,381</span>
                  </div>
               </div>
               <div class="card-header">
   <h3 class="card-title">
      <i class="far fa-chart-bar"></i>
      Donut Chart
   </h3>
   <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
      <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
      <i class="fas fa-times"></i>
      </button>
   </div>
</div>
<div class="card-body">
   <div id="donut-chart" style="height: 300px; padding: 0px; position: relative;">
      <canvas class="flot-base" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 452px; height: 300px;" width="452" height="300"></canvas>
      <canvas class="flot-overlay" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 452px; height: 300px;" width="452" height="300"></canvas>
      <span class="pieLabel" id="pieLabel0" style="position: absolute; top: 69.5px; left: 283.95px;">
         <div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">Series2<br>30%</div>
      </span>
      <span class="pieLabel" id="pieLabel1" style="position: absolute; top: 209.5px; left: 261.95px;">
         <div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">Series3<br>20%</div>
      </span>
      <span class="pieLabel" id="pieLabel2" style="position: absolute; top: 128.5px; left: 102.95px;">
         <div style="font-size:13px; text-align:center; padding:2px; color: #fff; font-weight: 600;">Series4<br>50%</div>
      </span>
   </div>
</div>

            </div>
            <div class="col-md-6">
               <div class="card">
                  <div class="card-header">
                     <h3 class="card-title">List of Employee</h3>
                     <div class="card-tools">
                        <ul class="pagination pagination-sm float-right">
                           <li class="page-item"><a class="page-link text-primary" href="#">«</a></li>
                           <li class="page-item"><a class="page-link text-primary" href="#">1</a></li>
                           <li class="page-item"><a class="page-link text-primary" href="#">2</a></li>
                           <li class="page-item"><a class="page-link text-primary" href="#">»</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="card-body p-0">
                     <table class="table table-sm">
                        <thead>
                           <tr>
                              <th style="width: 10px;">#</th>
                              <th style="width: 250px;">Name</th>
                              <th style="width: 200px;">Email</th>
                              <th style="padding-left: 40px;">Status</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td>1.</td>
                              <td>Update software</td>
                              <td>
                                 <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                 </div>
                              </td>
                              <td style="padding-left: 40px;"><span class="badge bg-danger">55%</span></td>
                           </tr>
                           <tr>
                              <td>2.</td>
                              <td>Clean database</td>
                              <td>
                                 <div class="progress progress-xs">
                                    <div class="progress-bar bg-warning" style="width: 70%"></div>
                                 </div>
                              </td>
                              <td style="padding-left: 40px;"><span class="badge bg-warning">70%</span></td>
                           </tr>
                           <tr>
                              <td>3.</td>
                              <td>Cron job running</td>
                              <td>
                                 <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar bg-primary" style="width: 30%"></div>
                                 </div>
                              </td>
                              <td style="padding-left: 40px;"><span class="badge bg-primary">30%</span></td>
                           </tr>
                           <tr>
                              <td>1.</td>
                              <td>Update software</td>
                              <td>
                                 <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                 </div>
                              </td>
                              <td style="padding-left: 40px;"><span class="badge bg-danger">55%</span></td>
                           </tr>
                           <tr>
                              <td>2.</td>
                              <td>Clean database</td>
                              <td>
                                 <div class="progress progress-xs">
                                    <div class="progress-bar bg-warning" style="width: 70%"></div>
                                 </div>
                              </td>
                              <td style="padding-left: 40px;"><span class="badge bg-warning">70%</span></td>
                           </tr>
                           <tr>
                              <td>3.</td>
                              <td>Cron job running</td>
                              <td>
                                 <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar bg-primary" style="width: 30%"></div>
                                 </div>
                              </td>
                              <td style="padding-left: 40px;"><span class="badge bg-primary">30%</span></td>
                           </tr>
                           <tr>
                              <td>1.</td>
                              <td>Update software</td>
                              <td>
                                 <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                 </div>
                              </td>
                              <td style="padding-left: 40px;"><span class="badge bg-danger">55%</span></td>
                           </tr>
                           <tr>
                              <td>2.</td>
                              <td>Clean database</td>
                              <td>
                                 <div class="progress progress-xs">
                                    <div class="progress-bar bg-warning" style="width: 70%"></div>
                                 </div>
                              </td>
                              <td style="padding-left: 40px;"><span class="badge bg-warning">70%</span></td>
                           </tr>
                           <tr>
                              <td>3.</td>
                              <td>Cron job running</td>
                              <td>
                                 <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar bg-primary" style="width: 30%"></div>
                                 </div>
                              </td>
                              <td style="padding-left: 40px;"><span class="badge bg-primary">30%</span></td>
                           </tr>
                           <tr>
                              <td>1.</td>
                              <td>Update software</td>
                              <td>
                                 <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                                 </div>
                              </td>
                              <td style="padding-left: 40px;"><span class="badge bg-danger">55%</span></td>
                           </tr>
                           <tr>
                              <td>2.</td>
                              <td>Clean database</td>
                              <td>
                                 <div class="progress progress-xs">
                                    <div class="progress-bar bg-warning" style="width: 70%"></div>
                                 </div>
                              </td>
                              <td style="padding-left: 40px;"><span class="badge bg-warning">70%</span></td>
                           </tr>
                           <tr>
                              <td>3.</td>
                              <td>Cron job running</td>
                              <td>
                                 <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar bg-primary" style="width: 30%"></div>
                                 </div>
                              </td>
                              <td style="padding-left: 40px;"><span class="badge bg-primary">30%</span></td>
                           </tr>
                           <tr>
                              <td>4.</td>
                              <td>Fix and squish bugs</td>
                              <td>
                                 <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar bg-success" style="width: 90%"></div>
                                 </div>
                              </td>
                              <td style="padding-left: 40px;"><span class="badge bg-success">90%</span></td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="card card-info card-outline">
                  <div class="card-body box-profile">
                     <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle" src="assets/img/user4-128x128.jpg" alt="User profile picture">
                     </div>
                     <h3 class="profile-username text-center">Nina Mcintire</h3>
                     <p class="text-muted text-center">Software Engineer</p>
                     <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                           <b>Followers</b> <a class="float-right">1,322</a>
                        </li>
                        <li class="list-group-item">
                           <b>Following</b> <a class="float-right">543</a>
                        </li>
                        <li class="list-group-item">
                           <b>Friends</b> <a class="float-right">13,287</a>
                        </li>
                     </ul>
                     <a href="#" class="btn btn-info btn-block"><b>Follow</b></a>
                  </div>
               </div>
               <div class="card card-info card-outline">
                  <div class="card-header">
                     <h5 class="text-center py-1">About</h5>
                  </div>
                  <div class="card-body">
                     <strong><i class="fas fa-book mr-1"></i> Education</strong>
                     <p class="text-muted">
                        B.S. in Computer Science from the University of Tennessee at Knoxville
                     </p>
                     <hr>
                     <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                     <p class="text-muted">Malibu, California</p>
                     <hr>
                     <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>
                     <p class="text-muted">
                        <span class="tag tag-danger">UI Design</span>
                        <span class="tag tag-success">Coding</span>
                        <span class="tag tag-info">Javascript</span>
                        <span class="tag tag-warning">PHP</span>
                        <span class="tag tag-primary">Node.js</span>
                     </p>
                     <hr>
                     <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>
                     <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section> 
  </div>
  <aside class="control-sidebar control-sidebar-dark " style="display:block;">
    <div class="p-3 control-sidebar-content">
      <nav class="mt-2">
         <ul class="navbar-nav">
            <li>
              <div class="user-panel mt-0 pt-0 pb-0 my-0 d-flex">
                 <div class="image">
                    <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                  </div>
                  <div class="info">
                     <a href="#" class="d-block">Alexander Pierce</a>
                  </div>
             </div>
            </li>
          </ul>
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
           <li class="nav-item menu-open">
              <a href="#" class="nav-link">
                 <i class="nav-icon fas fa-tachometer-alt"></i>
                 <p>
                    Dashboard
                 </p>
              </a>
           </li>
           <li class="nav-item">
              <a href="#" class="nav-link">
                 <i class="nav-icon fas fa-table"></i>
                 <p>
                    Tables
                    <i class="fas fa-angle-left right"></i>
                 </p>
              </a>
              <ul class="nav nav-treeview">
                 <li class="nav-item">
                    <a href="pages/tables/simple.html" class="nav-link">
                       <i class="far fa-circle nav-icon"></i>
                       <p>Simple Tables</p>
                    </a>
                 </li>
                 <li class="nav-item">
                    <a href="pages/tables/data.html" class="nav-link">
                       <i class="far fa-circle nav-icon"></i>
                       <p>DataTables</p>
                    </a>
                 </li>
                 <li class="nav-item">
                    <a href="pages/tables/jsgrid.html" class="nav-link">
                       <i class="far fa-circle nav-icon"></i>
                       <p>jsGrid</p>
                    </a>
                 </li>
              </ul>
           </li>
        </ul>
     </nav>
   </div>
   
  </aside>
  <footer class="main-footer bg-white" style="margin-left:0px !important" >
    <strong>Copyright &copy;2023 <a href="https://github.com/abdourakhman">Abdourakhman.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
       <b>Version</b> 1.0.0
    </div>
 </footer>
</div>
<router-outlet></router-outlet>
