<div class="card">
    <div class="card-header">
       <h3 class="card-title">List of Employee</h3>
       <nav aria-label="Page navigation example" >
         <ul class="pagination justify-content-end" >
           <li class="page-item">
             <a class="page-link" href="#" aria-label="Previous">
               <span aria-hidden="true">&laquo;</span>
               <span class="sr-only">Previous</span>
             </a>
           </li>
           <li class="page-item"><a class="page-link" href="#">1</a></li>
           <li class="page-item"><a class="page-link" href="#">2</a></li>
           <li class="page-item"><a class="page-link" href="#">3</a></li>
           <li class="page-item">
             <a class="page-link" href="#" aria-label="Next">
               <span aria-hidden="true">&raquo;</span>
               <span class="sr-only">Next</span>
             </a>
           </li>
         </ul>
       </nav>
    </div>
    <div class="card-body p-0">
       <table class="table table-sm">
          <thead>
             <tr>
                <th style="width: 30%;">First name</th>
                <th style="width: 20%;">Last name</th>
                <th style="width: 35%;">email</th>
                <th style="width: 15%;">Hiring date</th>
             </tr>
          </thead>
          <tbody>
             <tr>
                <td>employee.</td>
                <td>Update software</td>
                <td>
                   <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                   </div>
                </td>
                <td><span class="badge bg-danger">55%</span></td>
             </tr>
          </tbody>
       </table>
    </div>
 </div>