<div>
    <h1 class="text-center">LIST OF ALL CONTRACTS</h1>
</div>
<div class="row">
    <div class="col-sm-4 col-md-4">
        <app-contract-list></app-contract-list>
    </div>
    <div class="col-sm-4 col-md-4">
        <app-contract-list></app-contract-list>
    </div>
    <div class="col-sm-4 col-md-4">
        <app-contract-list></app-contract-list>
    </div>
    <div class="col-sm-4 col-md-4">
        <app-contract-list></app-contract-list>
    </div>
    <div class="col-sm-4 col-md-4">
        <app-contract-list></app-contract-list>
    </div>
    <div class="col-sm-4 col-md-4">
        <app-contract-list></app-contract-list>
    </div>
    <div class="col-sm-4 col-md-4">
        <app-contract-list></app-contract-list>
    </div>
    <div class="col-sm-4 col-md-4">
        <app-contract-list></app-contract-list>
    </div>
    <div class="col-sm-4 col-md-4">
        <app-contract-list></app-contract-list>
    </div>    
</div>
