   <!-- _____________________________________________contentHEADER____________________________________________ -->
   <div class="content-header">
    <div class="container-fluid">
       <div class="row mb-2">
           <div class="col-md-4 border rounded pl-3">
              <h1 class="font-weight-bold">HR ANALYTICS DASHBOARD</h1>
           </div>
           <div class="col-md-6 border py-1 rounded ml-2"style="display: flex;flex-wrap: nowrap; justify-content:space-around;">
              <div class="div col-md-4 text-center border py-0" style="background-color: rgb(236, 175, 20);color:black;">
                 <span style="vertical-align: middle;">departement de finance</span>
              </div>
              <div class="div col-md-4 text-center py-0  mx-1 border" style="background-color: rgb(236, 175, 20);color:black;">
                 <span style="vertical-align: middle;">Maintenance</span>
              </div>
              <div class="div col-md-4 text-center py-0 border" style="background-color: rgb(236, 175, 20); color:black;">
                 <span style="vertical-align: middle;">departement de recherche</span>
              </div>
           </div>
       </div>
       <div class="row" style="display: flex;flex-wrap: nowrap; justify-content: space-between;width: 85%;">
     
        <div class="col-md-2 border rounded py-1">
           <p class="text-center my-0">Overall Employee</p>
           <p class="text-center my-0" style="font-size: 3em; font-weight: bold;">{{ numberOfEmployees }}</p>
        </div>
        <div class="col-md-2 border rounded py-1">
           <p class="text-center my-0">Average Age</p>
           <p class="text-center my-0" style="font-size: 3em; font-weight: bold;">{{ averageAgeOfEmployee }}</p>
        </div><div class="col-md-2 border rounded py-1">
           <p class="text-center my-0">Average Salary</p>
           <p class="text-center my-0" style="font-size: 3em; font-weight: bold;">{{ averageSalary | number : '1.0-0' }}</p><span style="position: absolute; bottom: 0; right: 0; font-size: 1em;">Dh</span>
        </div><div class="col-md-2 border rounded py-1">
           <p class="text-center my-0">Ongoing Project</p>
           <p class="text-center my-0" style="font-size: 3em; font-weight: bold;">{{numberOfOngoingProject}}</p>
        </div><div class="col-md-2 border rounded py-1">
           <p class="text-center my-0">Personnal Active</p>
           <p class="text-center my-0" style="font-size: 3em; font-weight: bold;">{{ numberOfActiveEmployees }}</p><span style="position: absolute; bottom: 0; right: 0; font-size: 1em; width: 25px; height: 25px; background-color: green;"></span>
        </div>

       </div>
       <div class="row">
        <div class="ml-auto border rounded px-2 p-1" style="margin-top: -175px; ">
           <h6 class="font-weight-bold text-center">Repartition By Gender</h6>
          <div style="display: flex;">
              <div class="border text-center" style="width: 50%; padding-bottom: 50%; background-color: rgba(247, 192, 52, 0.621);">
                 <span style="color: black;">Male</span>
              </div>
              <div class="ml-auto border text-center" style="width: 50%;background-color: rgba(250, 146, 0, 0.608);">
                 <span style="color: black;" >Female</span>
              </div>
           </div>
           <div style="display: flex;">
              <div class="border text-center" style="width: 50%; background-color: rgb(247, 192, 52);">
                 <span style="color: black;">{{ numberOfEmployeesByGender.Male }}</span>
              </div>
              <div class="ml-auto border text-center" style="width: 50%;background-color: rgb(250, 146, 0);">
                 <span style="color: black;" >{{ numberOfEmployeesByGender.Female }}</span>
           </div>
           </div>
        </div>
       </div>
    </div>
 </div>

<!-- _____________________________________________contentBODY____________________________________________ -->
<section class="content">
  <div class="container-fluid">
     <div class="row">
        <div class="col-md-5">
           <app-donut-chart> </app-donut-chart>
        </div>
      <div class="col-md-7">
         <app-chart-bar></app-chart-bar>
      </div>
     </div>
  </div>
</section> 
