    <nav class="main-header navbar navbar-expand float-right" style="margin-left:0px !important; background-color:#37414a; ">
      <a class="navbar-brand" href="#">
        <img src="assets/img/logo_transparent.png" width="30" height="30" alt="logo">
      </a> 
      <ul class="navbar-nav ml-auto">
        
      </ul>
      <ul class="navbar-nav ml-auto">
          <li class ="nav-item">
           <a class="nav" data-widget="control-sidebar" data-slide="true" href="#" role="button" style="text-decoration: none; color: white;">
             <i class="fas fa-2x fa-th-large"></i>
           </a>
         </li>
       </ul>
    </nav>
  
    <aside class="control-sidebar control-sidebar-dark " style="display:block;">
     <div class="p-3 control-sidebar-content">
       <nav class="mt-2">
         <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <div class="w-50 m-auto">
             <div class="image m-auto">
                <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
             </div>
          </div>
          <div class="text-center text-light mt-2 badge badge-warning">
             <p class="d-block my-0 py-0" style="font-size: large;">Alexander Pierce</p>
          </div>
  
            <li class="nav-item menu-open mt-3">
               <a routerLink="dashboard" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                     Dashboard
                  </p>
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-users"></i>
                  <p>
                    Manage Employee
                  </p>
                  <i class="fas fa-angle-left right"></i>
               </a>
               <ul class="nav nav-treeview">
                  <li class="nav-item">
                     <a href="pages/tables/simple.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Simple Tables</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="pages/tables/data.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>DataTables</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="pages/tables/jsgrid.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>jsGrid</p>
                     </a>
                  </li>
               </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                   <i class="nav-icon fas fa-calendar"></i>
                   <p>
                     Manage Time off
                   </p>
                   <i class="fas fa-angle-left right"></i>
                </a>
                <ul class="nav nav-treeview">
                   <li class="nav-item">
                      <a href="pages/tables/simple.html" class="nav-link">
                         <i class="far fa-circle nav-icon"></i>
                         <p>Simple Tables</p>
                      </a>
                   </li>
                   <li class="nav-item">
                      <a href="pages/tables/data.html" class="nav-link">
                         <i class="far fa-circle nav-icon"></i>
                         <p>DataTables</p>
                      </a>
                   </li>
                   <li class="nav-item">
                      <a href="pages/tables/jsgrid.html" class="nav-link">
                         <i class="far fa-circle nav-icon"></i>
                         <p>jsGrid</p>
                      </a>
                   </li>
                </ul>
             </li>
             <li class="nav-item">
               <a class="nav-link">
                  <i class="nav-icon fas fa-building"></i>
                  <p>
                     Departments
                  </p>
                  <i class="fas fa-angle-left right"></i>
               </a>
               <ul class="nav nav-treeview">
                  <li class="nav-item">
                     <a routerLink="departments" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>list all</p>
                     </a>
                  </li>
               </ul>
            </li>
         </ul>
      </nav>
    </div>
    
   </aside>
  