    <nav class="main-header navbar navbar-expand float-right" style="margin-left:0px !important; background-color:#37414a; ">
      <a class="navbar-brand" routerLink="dashboard">
        <img src="assets/img/logo_transparent.png" width="30" height="30" alt="logo">
      </a> 
      <li class="nav-link" routerLinkActive="active">
         <a class="text-light" routerLink="/dashboard">Home</a>
      </li>
      <li  class="text-light" class="nav-link" routerLinkActive="active">
         <a  class="text-light" routerLink="/employees">Employees</a>
      </li> 
      <li class="nav-link" routerLinkActive="active">
         <a  class="text-light" routerLink="/timeOffRequests">Leaves</a>
      </li>
      <li class="nav-link" routerLinkActive="active">
         <a  class="text-light" routerLink="/timesheets">timesheets</a>
      </li>
      <li class="nav-link" routerLinkActive="active">
         <a  class="text-light" routerLink="/jobs">jobs</a>
      </li>
      <ul class="navbar-nav ml-auto">
      </ul>
      <ul class="navbar-nav ml-auto">
          <li class ="nav-item">
           <a class="nav" data-widget="control-sidebar" data-slide="true" href="#" role="button" style="text-decoration: none; color: white;">
             <i class="fas fa-2x fa-th-large"></i>
           </a>
         </li>
       </ul>
    </nav>
  
    <aside class="control-sidebar control-sidebar-dark " style="display:block;">
     <div class="p-3 control-sidebar-content">
       <nav class="mt-2">
         <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <div class="w-50 m-auto">
             <div class="image m-auto">
                <img src="assets/img/user4-128x128.jpg" class="img-circle elevation-2" alt="User Image">
             </div>
          </div>
          <div class="text-center text-light mt-2 badge badge-warning">
             <p class="d-block my-0 py-0" style="font-size: large;">Shaima Ezzagzouli</p>
          </div>
  
            <li class="nav-item menu-open mt-3">
               <a routerLink="dashboard" class="nav-link">
                  <i class="nav-icon fas fa-th"></i>
                  <p>
                     Dashboard
                  </p>
               </a>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  <i class="nav-icon fas fa-users"></i>
                  <p>
                    Manage Employee
                  </p>
                  <i class="fas fa-angle-left right"></i>
               </a>
               <ul class="nav nav-treeview">
                  <li class="nav-item">
                     <a routerLink="employees" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>list all</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a routerLink="employee/hiring" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>hiring</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a routerLink="employee/dismiss" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>dismiss</p>
                     </a>
                  </li>
               </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                   <i class="nav-icon fas fa-calendar"></i>
                   <p>
                     Manage Time off
                   </p>
                   <i class="fas fa-angle-left right"></i>
                </a>
                <ul class="nav nav-treeview">
                   <li class="nav-item">
                      <a routerLink="timeOffRequests" class="nav-link">
                         <i class="far fa-circle nav-icon"></i>
                         <p>All</p>
                      </a>
                   </li>
                   <li class="nav-item">
                     <a routerLink="timeOffRequests/accepted" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Accepted</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a routerLink="timeOffRequests/rejected" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Rejected</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a routerLink="timeOffRequests/pending" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Pending</p>
                     </a>
                  </li>
                </ul>
            </li>
            <li class="nav-item">
               <a href="#" class="nav-link">
                  <i class="nav-icon fa fa-address-book"></i>
                  <p>
                    Check Timesheet
                  </p>
                  <i class="fas fa-angle-left right"></i>
               </a>
               <ul class="nav nav-treeview">
                  <li class="nav-item">
                     <a routerLink="timesheets" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>list all</p>
                     </a>
                  </li>
               </ul>
            </li>
             <li class="nav-item">
               <a href="#" class="nav-link">
                  <i class="nav-icon fa fa-handshake"></i>
                  <p>
                    Manage contract
                  </p>
                  <i class="fas fa-angle-left right"></i>
               </a>
               <ul class="nav nav-treeview">
                  <li class="nav-item">
                     <a routerLink="contracts" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>list all</p>
                     </a>
                  </li>
               </ul>
            </li>
             <li class="nav-item">
               <a class="nav-link">
                  <i class="nav-icon fas fa-building"></i>
                  <p>
                     Check organization
                  </p>
                  <i class="fas fa-angle-left right"></i>
               </a>
               <ul class="nav nav-treeview">
                  <li class="nav-item">
                     <a routerLink="departments" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Departments</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a routerLink="jobs" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Jobs</p>
                     </a>
                  </li>
               </ul>
            </li>
         </ul>
      </nav>
    </div>
    
   </aside>
  